NEXT_PUBLIC_SUPABASE_URL=https://oftmjaxcgkiwenneytlm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9mdG1qYXhjZ2tpd2VubmV5dGxtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM4NDg2MjIsImV4cCI6MjA5OTQyNDYyMn0.4bWi4zymyculHgbUfPUlLvEfnvjQYmsmo-W29n9oVGk
